{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="container">
<h1>{% trans "Salir" %}</h1>

<p>{% trans '¿Estas seguro que quieres cerrar sesion?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn mt-4">{% trans 'Salir' %}</button>
</form>
</div>

{% endblock %}
