{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Le hemos enviado un correo electrónico. Si no lo ha recibido, compruebe su carpeta de Spam.{% endblocktrans %}</p>
    <p>{% blocktrans %}Si no lo recibe en unos minutos, póngase en contacto con nosotros.{% endblocktrans %}</p>
</div>
    {% endblock %}
