{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifique su dirección de correo electrónico" %}{% endblock %}

{% block content %}

<div class="container">
    <h1>{% trans "Verifique su dirección de correo electrónico" %}</h1>

    <p>{% blocktrans %}Le hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el proceso de registro.{% endblocktrans %}</p>
    <p>{% blocktrans %}En caso de no ver el correo electrónico de verificación en su bandeja de entrada principal, compruebe su carpeta de Spam.{% endblocktrans %}</p>
    <p>{% blocktrans %}Póngase en contacto con nosotros si no recibe el correo electrónico de verificación en unos minutos.{% endblocktrans %}</p>
</div>
{% include '_footer.html' %}
{% endblock %}
