{% include '_partial.html' %}
<title>Locales</title>
<br>
<table class="table table-hover">
    <tr>
        <th>NOMBRE DEL LOCAL</th>
    </tr>

{% for post in posts %}
<tr>
<td>
    <a href="{% url 'blog:details' post.local %}">{{post.nombre}}</a>
</td>

</tr>
{%endfor%}
</table>
{% if pag < 4 %}

    <a href="{% url 'blog:home' 1 %}" class="bg-primary text-white">
        <button type="button" class="btn btn-primary " href="{% url 'blog:home' 1 %}">1</button></a>

    <a href="{% url 'blog:home' 2 %}" class="bg-primary text-white">
        <button type="button" class="btn btn-primary">2</button></a>

    <a href="{% url 'blog:home' 3%}" class="bg-primary text-white">
        <button type="button" class="btn btn-primary">3</button></a>

    <a href="{% url 'blog:home' 4 %}" class="bg-primary text-white">
        <button type="button" class="btn btn-primary">4</button></a>
    ......
    <a href="{% url 'blog:home' pagm %}" class="bg-primary text-white">

        <button type="button" class="btn btn-primary">{{  pagm }}</button></a>
        
    {% elif  pag2 < pag   %}
    <a href="{% url 'blog:home' 1 %}" class="bg-primary text-white"><button type="button" class="btn btn-primary">
        1</button></a>
    ......


    <a href="{% url 'blog:home' pag2 %}" class="bg-primary text-white"><button type="button" class="btn btn-primary">{{pag2}}
    </button></a>
    <a href="{% url 'blog:home' pag %}" class="bg-primary text-white">
        <button type="button" class="btn btn-primary">{{ pag }}</button></a>
    <a href="{% url 'blog:home' pag1 %}" class="bg-primary text-white">

        <button type="button" class="btn btn-primary">{{  pag1 }}</button></a>

    <a href="{% url 'blog:home' pagm %}" class="bg-primary text-white">
        
    <button type="button" class="btn btn-primary">{{  pagm }}</button></a>



    {% else %}
    <a href="{% url 'blog:home' 1 %}" class="bg-primary text-white"><button type="button" class="btn btn-primary">
        1</button></a>
    .....


    <a href="{% url 'blog:home' pag1 %}" class="bg-primary text-white"><button type="button" class="btn btn-primary">{{pag1}}
    </button></a>
    <a href="{% url 'blog:home' pag %}" class="bg-primary text-white">
        <button type="button" class="btn btn-primary">{{ pag }}</button></a>
    <a href="{% url 'blog:home' pag2 %}" class="bg-primary text-white">

        <button type="button" class="btn btn-primary">{{  pag2 }}</button></a>
    ..........
    <a href="{% url 'blog:home' pagm %}" class="bg-primary text-white">
        
    <button type="button" class="btn btn-primary">{{  pagm }}</button></a>


    {% endif %}
{% include '_footer.html' %}