{% include '_partial.html' %}
<title>Colabora</title>

<br>
<script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
<div class="container">
<h1>Colabora</h1>
<br>
<form method="Post">
  {% csrf_token %} 
  <p>
    <label for="id_local">Local:</label>
    <input style="color:black;" type="text" name="local" maxlength="250" required id="id_local">
  <p>
      <p>
          <label for="id_precio">Precio:</label>
          <input style="color:black;" type="number" name="precio" step="any" required id="id_precio">
          
          
        </p>
      
        
        <p>
          <label for="id_productos">Productos:</label>
          <select style="color:black;" name="productos" required id="id_productos">
              
        <option value="" selected>---------</option>
          
        {% for producto in Productos %}
          <option value="{{producto}}">{{producto}}</option>
          {%endfor%}
      
      </select>
  </p>
    <button type="submit" class="btn btn-primary">Subir</button>
    </form> 
  </div>
    
    <script type="application/javascript">
      $( function() {
        //cambiar este codigo que lo haga el servidor esto tarda en ejecutar en el lado del cliente
        var availableTags =[
            {% for x in local %}
                  "{{x}}",
            {% endfor %}
        ];
        $( "#id_local" ).autocomplete({
          source: availableTags
        });
      } );
  </script>
  {% include '_footer.html' %}